<section
  class="heroLanding"
  style="border-top-left-radius: 2rem; border-top-right-radius: 2rem"
>
  <div class="bg-text-container">
    <div class="animate-text">
      <span>Driven Better&nbsp;</span>
      <span>Driven Better&nbsp;</span>
    </div>
    <div class="animate-text left">
      <span>Driven Better&nbsp;</span>
      <span>Driven Better&nbsp;</span>
    </div>
  </div>
  <div class="img-container">
    <a href="#next">
      <img src="../assets/1502731321.svg" alt="" class="canvas img-fluid" />
    </a>
  </div>
  <h1 class="welcomeText welcomeAnimation" id="welcome">
    WELCOME TO <br />
    NEWS-APP
  </h1>
</section>

<section style="height: 10vh" id="next"></section>

<script></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
