/*-------------------------
	Simple reset
--------------------------*/

* {
    margin: 0;
    padding: 0;
  }
  
  /*-------------------------
      General Styles
  --------------------------*/
  
  /*----------------------------
          Headers
  -----------------------------*/
  
  #fin {
    font: 70px "Anton", Arial, Helvetica;
    text-align: center;
    padding-top: 300px;
    text-transform: uppercase;
    display: none;
  }
  
  #fontPreload {
    font-family: "Anton";
    visibility: hidden;
    position: absolute;
  }
  
  /*----------------------------
        Canvas Animations
  -----------------------------*/
  
  .canvas {
    position: relative;
    width: 717px;
    height: 526px;
  
    top: 50%;
    left: 50%;
  
    margin: -263px 0 0 -358px;
    opacity: 1;
  
    /* Configure the animation for Firefox */
    -moz-animation-duration: 4s;
    -moz-animation-name: spin;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 1;
  
    /* Configure it for Chrome and Safari */
    -webkit-animation-duration: 4s;
    -webkit-animation-name: spin;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
  }
  
  @-moz-keyframes spin {
    0% {
      opacity: 0.2;
      -moz-transform: scale(0.2) rotate(0deg);
    }
  
    15% {
      opacity: 1;
      margin: -263px 0 0 -358px;
      -moz-transform: scale(1) rotate(1090deg);
    }
  
    100% {
      opacity: 1;
  
      -moz-transform: scale(1) rotate(1090deg);
    }
  
    /* 100%{
          top:500%;
          opacity:1;
          -moz-transform:scale(1) rotate(1090deg);
      } */
  }
  
  @-webkit-keyframes spin {
    0% {
      opacity: 0.2;
      -webkit-transform: scale(0.2) rotate(0deg);
    }
    15% {
      opacity: 1;
      margin: -263px 0 0 -358px;
      -webkit-transform: scale(1) rotate(1090deg);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1) rotate(1090deg);
    }
  
    /* 100%{
          top:500%;
          opacity:1;
          -webkit-transform:scale(1) rotate(1090deg);
      } */
  }
  .heroLanding {
    background-color: #333;
    height: 100vh;
  }
  .welcomeText {
    /* font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
      "Arial", sans-serif; */
      font-family: 'Anton', sans-serif;	
    position: relative;
    color: #fcfcfc;
    font-weight: bold;
    font-size: 5rem;
    /* width: 25vw; */
    opacity: 0;
  
    margin-left: 2rem;
    /* position: ; */
  }
  .welcomeAnimation {
    /* Configure the animation for Firefox */
    opacity: 1;
  
    -moz-animation-duration: 3s;
    -moz-animation-name: FlyIn;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 1;
  
    /* Configure it for Chrome and Safari */
    -webkit-animation-duration: 3s;
    -webkit-animation-name: flyIn;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
  }
  
  @-moz-keyframes flyIn {
    0% {
      opacity: 0;
      top: 70%;
    }
  
    90% {
      opacity: 0.5;
      top: 0%;
    }
    99%{
      opacity: 1;
      top: 0%;
    }
    100% {
      opacity: 0;
      top: -25%;
    }
  
    /* 100%{
          top:500%;
          opacity:1;
          -moz-transform:scale(1) rotate(1090deg);
      } */
  }
  @-webkit-keyframes flyIn {
    0% {
      top: 500%;
    }
  
    100% {
      top: 0%;
    }
  
    /* 100%{
          top:500%;
          opacity:1;
          -moz-transform:scale(1) rotate(1090deg);
      } */
  }
  
  @media screen and (min-width: 990px) {
      .welcomeText{
          top:-25%;
      }
  }