@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

section {
  color: #fff;
  background-image: linear-gradient(
    90deg,
    rgba(39, 27, 111, 1) 0%,
    rgba(87, 25, 45, 1) 100%
  );
  /* position: relative; */
  width: 100%;
  /* top: 10px; */
  border-top-left-radius: 70px;
  font-size: 0.8rem;
}

@media (max-width: 960px) {
  footer {
    width: 100%;
    top: 120px;
  }

  .main {
    /* margin: 50px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .logo {
    grid-column: 1/3;
  }

  .office {
    grid-column: 3/5;
  }
  .link {
    grid-column: 1/3;
  }
}

@media (max-width: 660px) {
  .main {
    gap: 10px;
    margin: 0;
  }

  .icons {
    display: flex;
  }

  .row {
    grid-column: 1/4;
  }
}

.manik {
  width: 100px;
}
.main {
  margin: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr);
}
.row {
  margin-top: 50px;
}
.footer-header {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.office-des {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.office a {
  text-decoration: none;
  color: #98a8f8;
}
.office a:hover {
  color: #fff;
}
.num {
  font-size: 1rem;
  font-weight: 500;
}

.link-des {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.link-des a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.link-des a:hover {
  color: #fb2576;
  transition: linear 0.3s;
}

.btn-know {
  text-decoration: none;
  background-color: #fff;
  padding: 10px;
  position: relative;
  top: 30px;
  background-color: transparent;
  border: 1px solid #98a8f8;
  color: #98a8f8;
  text-transform: uppercase;
  border-radius: 10px;
}

.btn-know:hover {
  color: white;
  background-color: #98a8f8;
  transition: linear 0.3s;
}

.contact-form {
  padding: 30px 40px;
  background-color: #ffffff;
  border-radius: 12px;
  max-width: 400px;
}

.contact-form textarea {
  resize: none;
}

.contact-form .form-input,
.form-text-area {
  background-color: #f0f4f5;
  height: 50px;
  padding-left: 16px;
}

.contact-form .form-text-area {
  background-color: #f0f4f5;
  height: auto;
  padding-left: 16px;
}

.contact-form .form-control::placeholder {
  color: #aeb4b9;
  font-weight: 500;
  opacity: 1;
}

.contact-form .form-control:-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control::-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control:focus {
  border-color: #f33fb0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #f33fb0;
}

.contact-form .title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.contact-form .description {
  color: #aeb4b9;
  font-size: 14px;
  text-align: center;
}

.contact-form .submit-button-wrapper {
  text-align: center;
}

.contact-form .submit-button-wrapper input {
  border: none;
  border-radius: 4px;
  background-color: #f23292;
  color: white;
  text-transform: uppercase;
  padding: 10px 60px;
  font-weight: 500;
  letter-spacing: 2px;
}

.contact-form .submit-button-wrapper input:hover {
  background-color: #d30069;
}
