.team {
  text-align: center;
}

.section {
  padding: 60px 0;
}

.section-title {
  text-align: center;
  font-size: 40px;
  position: relative;
  margin-bottom: 40px;
  margin-top: 0;
}

.team .team-item {
  text-align: left;
  margin-bottom: 30px;
  overflow: hidden;
}

.team .team-item figure {
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
}

.team .team-item figure figcaption {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(9, 9, 9, 0.6);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.team .team-item figure figcaption .info {
  position: absolute;
  color: #fff;
  float: left;
  bottom: 10px;
  left: 20px;
  margin-left: -80px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.team .team-item figure:hover figcaption {
  opacity: 1;
}

.team .team-item figure:hover figcaption .info {
  margin-left: 0;
}

.team .team-item figure figcaption .info h3 {
  font-size: 20px;
}

.team .team-item figure figcaption .info p {
  color: #fff;
}

.team .team-item figure:hover figcaption .social {
  margin-bottom: 0;
}

.team .team-item figure figcaption .social {
  position: absolute;
  float: right;
  bottom: 28px;
  margin-bottom: -80px;
  right: 20px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.team .team-item figure figcaption .social a {
  color: #fff;
  font-size: 15px;
  width: 36px;
  height: 36px;
  background: #3f51b5;
  display: inline-block;
  text-align: center;
  line-height: 36px;
  border-radius: 2px;
}
