<section id="team">
  <div class="container">
    <div class="team-top text-center wow bounceIn">
      <h3 data-aos="zoom-out-up" class="headingColor">
        <span>O</span>UR <span>T</span>EAM
      </h3>
      <p data-aos="zoom-out-up">Meet our amazing team</p>
    </div>
    <div class="team-content">
      <div class="row">
        <div
          class="col-md-3 text-center wow bounceIn"
          data-aos="zoom-out-left"
          data-wow-duration="2s"
        >
          <div class="team-circle mb-3 karan"></div>
          <h4>Karan Begani</h4>
          <h5>Platform Enginner(Angular)</h5>
          <ul class="social-icons">
            <li class="social-icon">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </li>
            <li class="social-icon">
              <i class="fa fa-facebook-f" aria-hidden="true"></i>
            </li>
            <li class="social-icon">
              <i class="fa fa-pinterest" aria-hidden="true"></i>
            </li>
          </ul>
        </div>
        <div
          class="col-md-3 text-center wow bounceIn"
          data-aos="zoom-out-right"
          data-wow-duration="2s"
        >
          <div class="team-circle mb-3 hardik"></div>
          <h4>Hardik Garg</h4>
          <h5>Platform Enginner(Angular)</h5>
          <ul class="social-icons">
            <li class="social-icon">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </li>
            <li class="social-icon">
              <i class="fa fa-facebook-f" aria-hidden="true"></i>
            </li>
            <li class="social-icon">
              <i class="fa fa-pinterest" aria-hidden="true"></i>
            </li>
          </ul>
        </div>
        <div
          class="col-md-3 text-center wow bounceIn"
          data-aos="zoom-out-left"
          data-wow-duration="2s"
        >
          <div class="team-circle mb-3 prateek"></div>
          <h4>Prateek Dhama</h4>
          <h5>Platform Enginner(Angular)</h5>
          <ul class="social-icons">
            <li class="social-icon">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </li>
            <li class="social-icon">
              <i class="fa fa-facebook-f" aria-hidden="true"></i>
            </li>
            <li class="social-icon">
              <i class="fa fa-pinterest" aria-hidden="true"></i>
            </li>
          </ul>
        </div>

        <div
          class="col-md-3 text-center wow bounceIn"
          data-aos="zoom-out-right"
          data-wow-duration="2s"
        >
          <div class="team-circle mb-3 tanishq"></div>
          <h4>Tanishq Shah</h4>
          <h5>Platform Enginner(PHP)</h5>
          <ul class="social-icons">
            <li class="social-icon">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </li>
            <li class="social-icon">
              <i class="fa fa-facebook-f" aria-hidden="true"></i>
            </li>
            <li class="social-icon">
              <i class="fa fa-pinterest" aria-hidden="true"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="team section">
  <div class="container">
    <h1 class="section-title">Our Team Section</h1>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-item">
          <figure>
            <img src="https://i.imgur.com/Ur43esv.jpg" alt="" />
            <figcaption>
              <div class="info">
                <h3>Alan Stuart</h3>
                <p>Chief Executive Officer</p>
              </div>
              <div class="social">
                <a href="#" class="twitter" data-abc="true"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="#" class="facebook" data-abc="true"
                  ><i class="fa fa-facebook"></i
                ></a>
                <a href="#" class="google-plus" data-abc="true"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-item">
          <figure>
            <img src="https://i.imgur.com/8RKXAIV.jpg" alt="" />
            <figcaption>
              <div class="info">
                <h3>Temta Swang</h3>
                <p>Python Lead</p>
              </div>
              <div class="social">
                <a href="#" class="twitter" data-abc="true"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="#" class="facebook" data-abc="true"
                  ><i class="fa fa-facebook"></i
                ></a>
                <a href="#" class="google-plus" data-abc="true"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-item">
          <figure>
            <img src="https://i.imgur.com/8RKXAIV.jpg" alt="" />
            <figcaption>
              <div class="info">
                <h3>Temta Swang</h3>
                <p>Python Lead</p>
              </div>
              <div class="social">
                <a href="#" class="twitter" data-abc="true"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="#" class="facebook" data-abc="true"
                  ><i class="fa fa-facebook"></i
                ></a>
                <a href="#" class="google-plus" data-abc="true"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-item">
          <figure>
            <img src="https://i.imgur.com/J6l19aF.jpg" alt="" />
            <figcaption>
              <div class="info">
                <h3>Michael Slater</h3>
                <p>Marketing Manager</p>
              </div>
              <div class="social">
                <a href="#" class="twitter" data-abc="true"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="#" class="facebook" data-abc="true"
                  ><i class="fa fa-facebook"></i
                ></a>
                <a href="#" class="google-plus" data-abc="true"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section> -->
