<section id="team" style="background-color: azure;">
    <div class="container">
        <div class="team-top  text-center wow bounceIn">
            <h3 data-aos="zoom-out-up">OUR AMAZING TEAM</h3>
            <p data-aos="zoom-out-up">Proin icalus purus consequat sem cure</p>
        </div>
        <div class="team-content">
            <div class="row">
                <div class="col-md-3 text-center wow bounceIn" data-aos="zoom-out-right" data-wow-duration='2s'>
                    <div class="team-circle mb-3"></div>
                    <h4>Tanishq Shah</h4>
                    <h5>Platform Enginner(PHP)</h5>
                    <ul class="social-icons">
                        <li class="social-icon">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </li>
                        <li class="social-icon">
                            <i class="fa fa-facebook-f" aria-hidden="true"></i>
                        </li>
                        <li class="social-icon">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 text-center wow bounceIn" data-aos="zoom-out-right" data-wow-duration='2s'>
                    <div class="team-circle mb-3"></div>
                    <h4>Hardik Garg</h4>
                    <h5>Platform Enginner(Angular)</h5>
                    <ul class="social-icons">
                        <li class="social-icon">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </li>
                        <li class="social-icon">
                            <i class="fa fa-facebook-f" aria-hidden="true"></i>
                        </li>
                        <li class="social-icon">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 text-center wow bounceIn" data-aos="zoom-out-left" data-wow-duration='2s'>
                    <div class="team-circle mb-3"></div>
                    <h4>Prateek Dhama</h4>
                    <h5>Platform Enginner(Angular)</h5>
                    <ul class="social-icons">
                        <li class="social-icon">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </li>
                        <li class="social-icon">
                            <i class="fa fa-facebook-f" aria-hidden="true"></i>
                        </li>
                        <li class="social-icon">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 text-center wow bounceIn" data-aos="zoom-out-left" data-wow-duration='2s'>
                    <div class="team-circle mb-3"></div>
                    <h4>Karan Begani</h4>
                    <h5>Platform Enginner(Angular)</h5>
                    <ul class="social-icons">
                        <li class="social-icon">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </li>
                        <li class="social-icon">
                            <i class="fa fa-facebook-f" aria-hidden="true"></i>
                        </li>
                        <li class="social-icon">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
                <div class="row text-center wow fadeIn" data-wow-duration='2s'>
                    <p data-aos="zoom-out-down">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore
                        et dolore magna aliquyam erat, sed diam voluptua.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>