<div class="main__wrapper">
  <main>
    <h1>The EWEEKLY</h1>
    <aside>
      <div>
        <div class="issue">Issue #1</div>
        <div class="date">Friday, 3 Jan, 2023</div>
        <div class="edition">Two memes Edition</div>
      </div>
    </aside>
    <h2 class="title--large main-title">
      This newspaper is a navigation panel, click on any of the image to go to
      the desired page!!
    </h2>
    <div class="main-text multi-column">
      <p>
        Sometimes, Internet users land themselves in an uncommon situation where
        an app or website can be used for both work and personal situations.
        Well, a young front-end designer was spending up to 13 hours on the
        site, Codepen for work and her hobby, which unfortunately, is also
        coding.
      </p>
      <p>
        The designer, whose work includes a <em>To-Do Terrarium</em>, clarified,
        "Well, I didn't <em> have </em>to use it for work but it was already
        part of my workflow. It just made sense as it was more efficient." The
        biggest issue, she said, is that she would hop on Codepen for work, but
        would get distracted by pens made by others in the community for
        unexpectedly long periods of time, which then causes her to spend even
        more time on the site.
      </p>
      <p>
        "I mean, that's terrible right?" she asked. Codepen, which brands itself
        as the best place to build, test, and discover front-end code, has
        declined to comment at this time.
      </p>
    </div>
    <a
      class="terrarium"
      href="https://codepen.io/oliviale/full/oNXJgEM"
      target="_blank"
    >
      <figure>
        <img src="../../assets/breakingNews.jpg" />
        <figcaption>
          A to-do list that grows succulents when you've completed a task
        </figcaption>
      </figure></a
    ><a class="item-with-image plan span--2 long--2" target=""
      ><img
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/showcase-floorplan.jpg"
      />
      <h4>Can you get inspired to make your own floor plans?</h4>
      <div class="multi-column">
        <p>
          Making a floor Plan with CSS Grid? Talk about using the wrong tool for
          the job. But I guess this is what happens when someone isn't happy
          with any of the floor plans found on Pinterest; she'll start making
          her own for the eventual home that she will never own. Nevertheless,
          there's a home office with a large window to look out of pensively
          during rainy days and a ton of "white space" for the cats to run
          around.
        </p>
      </div></a
    ><a
      class="hogwarts"
      href="https://codepen.io/oliviale/full/MZZYyO"
      target="_blank"
    >
      <div class="hogwarts__title">50% Off Hogwarts Express tickets</div>
      <div class="hogwarts__image">
        <span>Limited time offer</span
        ><img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/showcase-hogwarts.svg"
        /></div></a
    ><a
      class="item-with-image pasta with-border"
      href="https://codepen.io/oliviale/full/zYvxXWw"
      target="_blank"
    >
      <h4>A pasta menu</h4>
      <p>
        Everybody loves pasta. It's impossible to not love them, so here are 15
        recipes, served with GSAP. Note the easter egg — the menu icon changes
        according to the pasta that you choose.
      </p></a
    ><a
      class="item-with-image magazine with-border"
      href="https://codepen.io/oliviale/full/GRKQoKM"
      target="_blank"
    >
      <h4>Marvel at a magazine</h4>
      <p>
        A tribute of sorts to an era of cool superhero movies, this is a
        Marvel-themed magazine! Recommended, because it took 45 hours, so you
        know some serious dedication has been poured into this.
      </p></a
    >
    <!-- <a
      class="item-with-image style"
      href="https://codepen.io/collection/XJyNPm"
      target="_blank"
    >
      <h4>Let's adopt, don't shop.</h4>
      <p>
        Explore a style guide and various page layouts for a pet adoption site
        in the <em>Style Guide</em> collection. Inspired by the
        <em>Atomic Design</em> principle, this 8-pen collection includes a 404
        page concept, an admin dashboard and what a Twitter user calls a 'media
        card zen garden'. Each pen comes with five (yes, five) color themes,
        including the precious dark mode.
      </p></a
    > -->
    <!-- <a
      class="item-with-image toggles"
      href="https://codepen.io/oliviale/full/xxboXzo"
      target="_blank"
      ><img
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/showcase-toggle.gif"
      />
      <h4>Toggles</h4>
      <p>
        Eight playful toggles to toggle on and off for your amusement. Is it
        possible to use these on your site and still adhere to assessibility
        rules? No. But there's a really cute dog one you <em>have </em>to see.
      </p></a
    > -->
    <!-- <a
      class="menu"
      href="https://codepen.io/oliviale/full/LYYrKMV"
      target="_blank"
    >
      <figure>
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/showcase-menu.jpg"
        />
        <figcaption>See the new and improved menu for Toasty!</figcaption>
      </figure></a
    ><a
      class="social"
      href="https://codepen.io/oliviale/full/QWjjrZX"
      tagrget="_blank"
      ><img
        class="social__image"
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/showcase-social.gif"
      />
      <div class="social__subtitle">World News</div>
      <div class="social__content">
        Looks like Covid-19 is gonna be around for a while so here is another
        friendly reminder to practice social distancing. Oh, and wear a mask!
      </div></a
    >
    <div class="item-with-image cssgrid-collection">
      <a
        class="cssgrid-collection__image"
        href="https://codepen.io/collection/DQvYpQ"
        target="_blank"
        ><img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/showcase-co-grid.jpg"
      /></a>
      <div class="cssgrid-collection__content">
        <h4>
          <a href="https://codepen.io/collection/DQvYpQ" target="_blank"
            >More CSS Grid things like this one. Shelves, coupons and more!
          </a>
        </h4>
        <div class="multi-column-3">
          <p>
            Get your fill of more CSS Grid items in this collection. There are a
            total of 32 pens to date... well, 33, if you count this one too.
            What can you expect in this collection? The hidden gems, in my
            totally unbiased opinion, are
            <a href="https://codepen.io/oliviale/full/wbyVWr" target="_blank"
              >the recreation of the Pac-Man layout</a
            >
            and
            <a href="https://codepen.io/oliviale/pen/wbyVWr" target="_blank"
              >coupons inspired by junk mail</a
            >. A lot of joke items of things that shouldn't be done in CSS Grid,
            such as
            <a href="https://codepen.io/oliviale/full/PXGgMG" target="_blank"
              >a shelf</a
            >?
            <a href="https://codepen.io/oliviale/full/qggOog" target="_blank"
              >Bathroom tiles wtf</a
            >? and
            <a href="https://codepen.io/oliviale/full/bOWqbj" target="_blank"
              >makeup palettes </a
            >. If you are a cultured person, you will have a chance to enjoy a
            couple of pens inspired by
            <a href="https://codepen.io/oliviale/full/JxVZpX" target="_blank"
              >Harry Potter </a
            >and
            <a href="https://codepen.io/oliviale/full/RwNdeeQ" target="_blank"
              >Pokemon.</a
            >
            On the rare occasion that you are looking at this profile for
            something you can use in production, you really shouldn't. But,
            there are <em> some </em>real-world applications, such as
            <a href="https://codepen.io/oliviale/full/GPXozx" target="_blank"
              >the recipe layout</a
            >,
            <a href="https://codepen.io/oliviale/full/pqoEoJ" target="_blank"
              >the product catalog</a
            >, and
            <a href="https://codepen.io/oliviale/full/XyqQYL" target="_blank"
              >color palettes for a style guide</a
            >.
          </p>
        </div>
      </div>
    </div> -->
    <div class="sidebar">
      <h3 class="title--big">Hot this month</h3>
      <a class="codepen-item pie"
        ><img
          class="pie__image"
          src="../../assets/Tiny male and female character near typewriter with paper.jpg"
        />
        <div class="pie__subtitle">Our Team</div>
        <div class="pie__content">
          <h4>Meet our Team</h4>
          <p>This is our Slpendid team, click here to learn more about us</p>
        </div></a
      >
      <a
        class="sidebar-item captcha"
        href="https://codepen.io/oliviale/full/RwWdNRd"
        target="_blank"
      >
        <h5>Frustrated designer runs amok with Captcha ideas</h5>
        <p>
          From Tic Tac Toe to solving meme-based questions, this is a different
          take on how web captchas should be. "I have not successfully picked
          out all photos of a truck on the first try. Something's gotta change,"
          says the designer, who has requested to remain anonymous.
        </p></a
      ><a
        class="sidebar-item slack-ui with-border"
        href="https://codepen.io/oliviale/full/GRpvNBa"
        target="_blank"
      >
        <h5>Slack UI gets reverse engineered</h5>
        <p>
          Another valiant effort to reverse engineer a web app. However, the UI
          is repurposed to showcase Codepens instead of mock conversations. This
          is a codepen showcase inception situation.
        </p></a
      >
      <!-- <a
        class="workout"
        href="https://codepen.io/oliviale/full/RwWKybY"
        target="_blank"
      >
        <div class="workout__image">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/showcase-workout.jpg"
            alt="Workout"
          />
        </div>
        <div class="workout__blurb">
          Always failing to keep track of your workouts?
        </div>
        <div class="workout__title">Use this tool!</div></a
      > -->
    </div>
  </main>
</div>
