<div class="html">
  <div class="container h-100 pt-5">
    <div class="row">
      <div class="content col-12 col-md-6">
        <h1 class="headingColor text-center">
          <span>T</span>he <span>G</span>allery
        </h1>
        <p>This is our amazing photo gallery, Go ahead and take a look</p>
      </div>
      <div class="img col-12 col-md-6">
        <img src="../../assets/Photos-pana.png" class="img-fluid" alt="" />
      </div>
    </div>
  </div>

  <div class="body">
    <div class="containers container">
      <a
        href="https://source.unsplash.com/600x600/?sig=1"
        data-lightbox="homePortfolio"
        target="_blank"
      >
        <img src="https://source.unsplash.com/600x600/?sig=1" />
      </a>

      <a
        href="https://source.unsplash.com/600x800/?sig=12"
        data-lightbox="homePortfolio"
        target="_blank"
        class="vertical"
      >
        <img src="https://source.unsplash.com/600x800/?sig=12" />
      </a>

      <a
        href="https://source.unsplash.com/800x600/?sig=71"
        data-lightbox="homePortfolio"
        target="_blank"
        class="horizontal"
      >
        <img src="https://source.unsplash.com/800x600/?sig=71" />
      </a>

      <a
        href="https://source.unsplash.com/600x600/?sig=40"
        data-lightbox="homePortfolio"
        target="_blank"
      >
        <!-- <iframe src="https://www.youtube.com/embed/W0iCWFwwIaQ" frameborder="0"></iframe> -->
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/6Ij9PiehENA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </a>

      <a
        href="https://source.unsplash.com/600x600/?sig=32"
        data-lightbox="homePortfolio"
        target="_blank"
      >
        <img src="https://source.unsplash.com/600x600/?sig=32" />
      </a>

      <a
        href="https://source.unsplash.com/800x800/?sig=7"
        data-lightbox="homePortfolio"
        target="_blank"
        class="big"
      >
        <img src="https://source.unsplash.com/800x800/?sig=7" />
      </a>

      <a
        href="https://source.unsplash.com/600x600/?sig=111"
        data-lightbox="homePortfolio"
        target="_blank"
      >
        <img src="https://source.unsplash.com/600x600/?sig=111" />
      </a>

      <a
        href="https://source.unsplash.com/600x800/?sig=94"
        data-lightbox="homePortfolio"
        class="vertical"
        target="_blank"
      >
        <img src="https://source.unsplash.com/600x800/?sig=94" />
      </a>

      <a
        href="https://source.unsplash.com/600x600/?sig=11"
        data-lightbox="homePortfolio"
        target="_blank"
      >
        <img src="https://source.unsplash.com/600x600/?sig=11" />
      </a>

      <!-- <a href="https://source.unsplash.com/800x600/?sig=68" data-lightbox="homePortfolio" class="horizontal">
    <img src="https://source.unsplash.com/800x600/?sig=68"/>
  </a>
  
  <a href="https://source.unsplash.com/600x600/?sig=24" data-lightbox="homePortfolio">
    <img src="https://source.unsplash.com/600x600/?sig=24"/>
  </a>
  
  <a href="https://source.unsplash.com/800x800/?sig=55" data-lightbox="homePortfolio" class="big">
    <img src="https://source.unsplash.com/800x800/?sig=55"/>
  </a>
  
  <a href="https://source.unsplash.com/600x600/?sig=56" data-lightbox="homePortfolio">
    <img src="https://source.unsplash.com/600x600/?sig=56"/>
  </a>
  
  <a href="https://source.unsplash.com/800x600/?sig=186" data-lightbox="homePortfolio" class="horizontal">
    <img src="https://source.unsplash.com/800x600/?sig=186"/>
  </a>
  
  <a href="https://source.unsplash.com/600x600/?sig=117" data-lightbox="homePortfolio">
    <img src="https://source.unsplash.com/600x600/?sig=117"/>
  </a>
    </div> -->
    </div>
  </div>
</div>
