<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body"> -->
<section class="main-section section">
  <div class="container" [ngClass]="{ active: activeClass }">
    <div class="user signinbox">
      <div class="imagebox img-fluid">
        <img src="../../assets/Mobile login-cuate.png" />
      </div>
      <div class="formbox">
        <div class="form">
          <h2>Signin</h2>
          <input type="text" placeholder="username" />
          <input type="password" placeholder="Password" />
          <input type="submit" value="Login" />
          <p class="signup-text">
            Don't have an account?
            <a (click)="toggleForm()">Signup</a>
          </p>
          <!-- <p class="signup-text"> Are you an admin ?
                          <a routerLink="/admin" >Admin-Login</a>
                        </p> -->
        </div>
      </div>
    </div>
    <div class="user signupbox">
      <div class="formbox">
        <div class="form">
          <h2>Signup</h2>
          <input type="text" placeholder="Name" />
          <input type="email" placeholder="Email" />
          <input type="number" placeholder="Contact" />
          <input type="password" placeholder="Password" />
          <input type="submit" value="Signup" />
          <p class="signup-text">
            Already have an account?
            <a (click)="toggleForm()">Login</a>
          </p>
        </div>
      </div>
      <div class="imagebox img-fluid">
        <img src="../../assets/Mobile login-pana.png" />
      </div>
    </div>
  </div>
</section>
<!-- </div>
      </div>
    </div>
  </div> -->
