<div class="hero-landing" *ngIf="checkView">
  <app-hero-landing></app-hero-landing>
</div>
<div class="news-paper" *ngIf="checkView">
  <app-news-paper (navEvent)="viewMenu($event)"></app-news-paper>
</div>

<div class="photo">
  <!-- <app-photo></app-photo> -->
  <!-- <app-photo-gallery></app-photo-gallery> -->
</div>
<div *ngIf="!checkView">
  <div class="nav-bar sticky-top" >
    <app-nav-bar (newsEvent)="viewMenu($event)"></app-nav-bar>
  </div>
  <div class="blog">
    <app-blog></app-blog>
  </div>

  <div class="about">
    <app-photo-gallery style="width:90%;"></app-photo-gallery>
  </div>
  <br>
  <br>
  <br>
  <br>

  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
