<div class="entryPage" *ngIf="checkView">
  <div class="hero-landing">
    <app-hero-landing></app-hero-landing>
  </div>
  <div class="news-paper">
    <app-news-paper (navEvent)="viewMenu($event)"></app-news-paper>
  </div>
</div>
<div *ngIf="!checkView">
  <div class="nav-bar sticky-top">
    <app-nav-bar
      (newsEvent)="viewMenu($event)"
      (navLinkEvent)="navChange($event)"
    ></app-nav-bar>
  </div>
  <div class="blog" *ngIf="componentView == 'news'">
    <app-blog></app-blog>
  </div>
  <div class="about" *ngIf="componentView == 'about'">
    <app-about></app-about>
  </div>
  <div class="photo" *ngIf="componentView == 'photo'">
    <app-photo-gallery style="width: 90%"></app-photo-gallery>
  </div>
  <div class="log" *ngIf="componentView == 'log'">
    <app-auth-form></app-auth-form>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
<!-- <app-photo-gallery></app-photo-gallery> -->
<!-- <app-about></app-about> -->
<!-- <app-auth-form></app-auth-form> -->