p {
  font-family: Lato;
}
.navbar ul li a:hover {
  color: grey;
  /* text-decoration: underline #fca311; */
  border-bottom: 2px solid #fca311;
  border-spacing: 3px;
  /* text-decoration: ; */
}

.navbar ul li a:hover span {
  font-size: large;
  color: #fca311;
}
