<!-- <div data-aos="fade-up-right"> -->
<!-- https://codepen.io/steveeeie/pen/NVWMEM -->
<!-- <div class="blog" style="border-radius: 2rem; background-color: #333;" data-aos="zoom-out">
    <div style="padding-top: 10px;" data-aos="zoom-in" data-aos-duration="1000">
        <h2 class="px-4" style="text-align: center; color: azure;">Breaking News</h2>
    </div>
    <section class="hero-section px-4 py-4" style="padding-bottom: 15px;">
        <br><br><br><br>
        <div class="card-grid">
            <a class="card mx-3" data-aos="zoom-in-right" data-aos-duration="2000" href="#"
                style="border-radius: 1.5rem;">
                <div class="card__background"
                    style="background-image: url(https://images.unsplash.com/photo-1557177324-56c542165309?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)">
                </div>
                <div class="card__content">
                    <p class="card__category px-4 py-2">Category</p>
                    <h3 class="card__heading px-4 py-2">Example Card Heading</h3>
                </div>
            </a>
            <a class="card mx-3" data-aos="zoom-in-down" data-aos-duration="2000" href="#"
                style="border-radius: 1.5rem;">
                <div class="card__background"
                    style="background-image: url(https://images.unsplash.com/photo-1557187666-4fd70cf76254?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
                </div>
                <div class="card__content">
                    <p class="card__category px-4 py-2">Category</p>
                    <h3 class="card__heading px-4 py-2">Example Card Heading</h3>
                </div>
            </a>
            <a class="card mx-3" data-aos="zoom-in-up" data-aos-duration="2000" href="#" style="border-radius: 1.5rem;">
                <div class="card__background"
                    style="background-image: url(https://images.unsplash.com/photo-1556680262-9990363a3e6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
                </div>
                <div class="card__content">
                    <p class="card__category px-4 py-2">Category</p>
                    <h3 class="card__heading px-4 py-2">Example Card Heading</h3>
                </div>
            </a>
            <a class="card mx-3" data-aos="zoom-in-left" data-aos-duration="2000" href="#"
                style="border-radius: 1.5rem;">
                <div class="card__background"
                    style="background-image: url(https://images.unsplash.com/photo-1557004396-66e4174d7bf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
                </div>
                <div class="card__content">
                    <p class="card__category px-4 py-2">Category</p>
                    <h3 class="card__heading px-4 py-2">Example Card Heading</h3>
                </div>
            </a>
        </div>
    </section>
    <section class="hero-section px-4 py-4" style="padding-bottom: 15px;">
        <br><br><br><br>
        <div class="card-grid">
            <a class="card mx-3" data-aos="zoom-in-right" data-aos-duration="2000" href="#"
                style="border-radius: 1.5rem;">
                <div class="card__background"
                    style="background-image: url(https://images.unsplash.com/photo-1557177324-56c542165309?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)">
                </div>
                <div class="card__content">
                    <p class="card__category px-4 py-2">Category</p>
                    <h3 class="card__heading px-4 py-2">Example Card Heading</h3>
                </div>
            </a>
            <a class="card mx-3" data-aos="zoom-in-down" data-aos-duration="2000" href="#"
                style="border-radius: 1.5rem;">
                <div class="card__background"
                    style="background-image: url(https://images.unsplash.com/photo-1557187666-4fd70cf76254?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
                </div>
                <div class="card__content">
                    <p class="card__category px-4 py-2">Category</p>
                    <h3 class="card__heading px-4 py-2">Example Card Heading</h3>
                </div>
            </a>
            <a class="card mx-3" data-aos="zoom-in-up" data-aos-duration="2000" href="#" style="border-radius: 1.5rem;">
                <div class="card__background"
                    style="background-image: url(https://images.unsplash.com/photo-1556680262-9990363a3e6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
                </div>
                <div class="card__content">
                    <p class="card__category px-4 py-2">Category</p>
                    <h3 class="card__heading px-4 py-2">Example Card Heading</h3>
                </div>
            </a>
            <a class="card mx-3" data-aos="zoom-in-left" data-aos-duration="2000" href="#"
                style="border-radius: 1.5rem;">
                <div class="card__background"
                    style="background-image: url(https://images.unsplash.com/photo-1557004396-66e4174d7bf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
                </div>
                <div class="card__content">
                    <p class="card__category px-4 py-2">Category</p>
                    <h3 class="card__heading px-4 py-2">Example Card Heading</h3>
                </div>
            </a>
        </div>
    </section>
    <section class="hero-section px-4 py-4" style="padding-bottom: 15px;">
        <br><br><br><br>
        <div class="card-grid">
            <a class="card mx-3" data-aos="zoom-in-right" data-aos-duration="2000" href="#"
                style="border-radius: 1.5rem;">
                <div class="card__background"
                    style="background-image: url(https://images.unsplash.com/photo-1557177324-56c542165309?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)">
                </div>
                <div class="card__content">
                    <p class="card__category px-4 py-2">Category</p>
                    <h3 class="card__heading px-4 py-2">Example Card Heading</h3>
                </div>
            </a>
            <a class="card mx-3" data-aos="zoom-in-down" data-aos-duration="2000" href="#"
                style="border-radius: 1.5rem;">
                <div class="card__background"
                    style="background-image: url(https://images.unsplash.com/photo-1557187666-4fd70cf76254?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
                </div>
                <div class="card__content">
                    <p class="card__category px-4 py-2">Category</p>
                    <h3 class="card__heading px-4 py-2">Example Card Heading</h3>
                </div>
            </a>
            <a class="card mx-3" data-aos="zoom-in-up" data-aos-duration="2000" href="#" style="border-radius: 1.5rem;">
                <div class="card__background"
                    style="background-image: url(https://images.unsplash.com/photo-1556680262-9990363a3e6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
                </div>
                <div class="card__content">
                    <p class="card__category px-4 py-2">Category</p>
                    <h3 class="card__heading px-4 py-2">Example Card Heading</h3>
                </div>
            </a>
            <a class="card mx-3" data-aos="zoom-in-left" data-aos-duration="2000" href="#"
                style="border-radius: 1.5rem;">
                <div class="card__background"
                    style="background-image: url(https://images.unsplash.com/photo-1557004396-66e4174d7bf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
                </div>
                <div class="card__content">
                    <p class="card__category px-4 py-2">Category</p>
                    <h3 class="card__heading px-4 py-2">Example Card Heading</h3>
                </div>
            </a>
        </div>
    </section>
    <section class="hero-section px-4 py-4" style="padding-bottom: 15px;">
        <br><br><br><br>
        <div class="card-grid">
            <a class="card mx-3" data-aos="zoom-in-right" data-aos-duration="2000" href="#"
                style="border-radius: 1.5rem;">
                <div class="card__background"
                    style="background-image: url(https://images.unsplash.com/photo-1557177324-56c542165309?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)">
                </div>
                <div class="card__content">
                    <p class="card__category px-4 py-2">Category</p>
                    <h3 class="card__heading px-4 py-2">Example Card Heading</h3>
                </div>
            </a>
            <a class="card mx-3" data-aos="zoom-in-down" data-aos-duration="2000" href="#"
                style="border-radius: 1.5rem;">
                <div class="card__background"
                    style="background-image: url(https://images.unsplash.com/photo-1557187666-4fd70cf76254?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
                </div>
                <div class="card__content">
                    <p class="card__category px-4 py-2">Category</p>
                    <h3 class="card__heading px-4 py-2">Example Card Heading</h3>
                </div>
            </a>
            <a class="card mx-3" data-aos="zoom-in-up" data-aos-duration="2000" href="#" style="border-radius: 1.5rem;">
                <div class="card__background"
                    style="background-image: url(https://images.unsplash.com/photo-1556680262-9990363a3e6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
                </div>
                <div class="card__content">
                    <p class="card__category px-4 py-2">Category</p>
                    <h3 class="card__heading px-4 py-2">Example Card Heading</h3>
                </div>
            </a>
            <a class="card mx-3" data-aos="zoom-in-left" data-aos-duration="2000" href="#"
                style="border-radius: 1.5rem;">
                <div class="card__background"
                    style="background-image: url(https://images.unsplash.com/photo-1557004396-66e4174d7bf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
                </div>
                <div class="card__content">
                    <p class="card__category px-4 py-2">Category</p>
                    <h3 class="card__heading px-4 py-2">Example Card Heading</h3>
                </div>
            </a>
        </div>
    </section>
    <br><br>
</div> -->
<!-- [ngStyle]="{ 'background-image': 'url(' + blog.urlToImage + ')' }" -->
<app-nav-bar></app-nav-bar>
<div style="border-radius: 1.5rem" class="container">
  <div class="px-3" style="text-align: center">
    <h3
      class="py-4"
      style="color: aliceblue"
      data-aos="zoom-in"
      data-aos-duration="1700"
    >
      PHOTO GALLERY
    </h3>
    <div class="row">
      <div
        class="flip col-12 col-md-4"
        data-aos="fade-right"
        data-aos-duration="2000"
        (click)="check('sports')"
      >
        <div
          class="front"
          style="
            background-image: url(https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);
          "
        >
          <h1 class="text-shadow">Sports</h1>
        </div>
        <div class="back">
          <h2>Angular</h2>
          <p>
            Good tools make application development quicker and easier to
            maintain than if you did everything by hand..
          </p>
        </div>
      </div>
      <div
        class="flip flip-vertical col-12 col-md-4"
        data-aos="zoom-in"
        (click)="check('business')"
      >
        <div
          class="front"
          style="
            background-image: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);
          "
        >
          <h1 class="text-shadow">Business</h1>
        </div>
        <div class="back">
          <h2>Angular</h2>
          <p>
            Good tools make application development quicker and easier to
            maintain than if you did everything by hand..
          </p>
        </div>
      </div>
      <div
        class="flip col-12 col-md-4"
        data-aos="fade-left"
        data-aos-duration="2000"
        (click)="check('entertainment')"
      >
        <div
          class="front"
          style="
            background-image: url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);
          "
        >
          <h1 class="text-shadow">Entertainment</h1>
        </div>
        <div class="back">
          <h2>Angular</h2>
          <p>
            Good tools make application development quicker and easier to
            maintain than if you did everything by hand..
          </p>
        </div>
      </div>
      <div
        class="flip flip-vertical col-12 col-md-4"
        data-aos="fade-right"
        data-aos-duration="2000"
        (click)="check('technology')"
      >
        <div
          class="front"
          style="
            background-image: url(https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);
          "
        >
          <h1 class="text-shadow">Technology</h1>
        </div>
        <div class="back">
          <h2>Angular</h2>
          <p>
            Good tools make application development quicker and easier to
            maintain than if you did everything by hand..
          </p>
        </div>
      </div>
      <div
        class="flip col-12 col-md-4"
        data-aos="zoom-in"
        (click)="check('health')"
      >
        <div
          class="front"
          style="
            background-image: url(https://images.pexels.com/photos/34950/pexels-photo.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);
          "
        >
          <h1 class="text-shadow">Health</h1>
        </div>
        <div class="back">
          <h2>Angular</h2>
          <p>
            Good tools make application development quicker and easier to
            maintain than if you did everything by hand..
          </p>
        </div>
      </div>
      <div
        class="flip flip-vertical col-12 col-md-4"
        data-aos="fade-left"
        data-aos-duration="2000"
        (click)="check('science')"
      >
        <div
          class="front"
          style="
            background-image: url(https://images.pexels.com/photos/34546/sunset-lake-landscape-summer.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);
          "
        >
          <h1 class="text-shadow">Science</h1>
        </div>
        <div class="back">
          <h2>Angular</h2>
          <p>
            Good tools make application development quicker and easier to
            maintain than if you did everything by hand..
          </p>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
</div>
<div class="container">
  <div class="container-fluid row">
    <div
      class="col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12"
      *ngFor="let blog of news; let i = index"
    >
      <div
        *ngIf="i % 2 == 0"
        data-aos="fade-right"
        data-bs-toggle="modal"
        data-bs-target="#GFG1"
        (click)="checkAuth(blog)"
      >
        <figure>
          <div
            class="media"
            [ngStyle]="{ 'background-image': 'url(' + blog.urlToImage + ')' }"
          ></div>
          <figcaption>
            <svg
              viewBox="0 0 200 200"
              version="1.1"
              preserveAspectRatio="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <defs>
                <mask id="mask" x="0" y="0" width="100%" height="100%">
                  <rect
                    id="alpha"
                    x="0"
                    y="0"
                    width="100%"
                    height="100%"
                  ></rect>
                  <text class="title" dx="50%" dy="2.5em">CLICK</text>
                  <text class="title" dx="50%" dy="3.5em">FOR</text>
                  <text class="title" dx="50%" dy="4.5em">MORE</text>
                </mask>
              </defs>
              <rect id="base" x="0" y="0" width="100%" height="100%"></rect>
            </svg>
            <div class="body">
              <p>
                {{ blog.title }}
              </p>
            </div>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div
        *ngIf="i % 2 == 1"
        data-aos="fade-left"
        data-bs-toggle="modal"
        data-bs-target="#GFG1"
        (click)="checkAuth(blog)"
      >
        <figure>
          <div
            class="media"
            [ngStyle]="{ 'background-image': 'url(' + blog.urlToImage + ')' }"
          ></div>
          <figcaption>
            <svg
              viewBox="0 0 200 200"
              version="1.1"
              preserveAspectRatio="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <defs>
                <mask id="mask" x="0" y="0" width="100%" height="100%">
                  <rect
                    id="alpha"
                    x="0"
                    y="0"
                    width="100%"
                    height="100%"
                  ></rect>
                  <text class="title" dx="50%" dy="2.5em">CLICK</text>
                  <text class="title" dx="50%" dy="3.5em">FOR</text>
                  <text class="title" dx="50%" dy="4.5em">MORE</text>
                </mask>
              </defs>
              <rect id="base" x="0" y="0" width="100%" height="100%"></rect>
            </svg>
            <div class="body">
              <p>
                Enamel pin selvage health goth edison bulb, venmo glossier
                tattooed hella butcher cred iPhone. Plaid skateboard man braid
                wayfarers.
              </p>
            </div>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
    </div>
  </div>
  <!-- <div data-aos="fade-left" class="col-lg-6 col-md-6 hidden-sm hidden-xs">
    <figure>
      <div
        class="media"
        style="
          background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/bg_5.png);
        "
      ></div>
      <figcaption>
        <svg
          viewBox="0 0 200 200"
          version="1.1"
          preserveAspectRatio="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <defs>
            <mask id="mask" x="0" y="0" width="100%" height="100%">
              <rect id="alpha" x="0" y="0" width="100%" height="100%"></rect>
              <text
                class="title"
                style="text-shadow: 2px 2px #fca311"
                dx="50%"
                dy="2.5em"
              >
                ENJOY EVERY MOMENT
              </text>
            </mask>
          </defs>
          <rect id="base" x="0" y="0" width="100%" height="100%"></rect>
        </svg>
        <div class="body">
          <p>
            Enamel pin selvage health goth edison bulb, venmo glossier tattooed
            hella butcher cred iPhone. Plaid skateboard man braid wayfarers.
          </p>
        </div>
      </figcaption>
      <a href="#"></a>
    </figure>
  </div> -->
</div>

<div class="container text-center">
  <!-- <button type="button" class="btn btn-primary">
    Click Me
  </button> -->
  <div class="modal fade" id="GFG1">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <app-blogmodal [data]="selectedblog" *ngIf="modal"></app-blogmodal>
          <app-login *ngIf="!modal"></app-login>
        </div>
      </div>
    </div>
  </div>
</div>
