<!-- horizontal -->
<div style="background-color: antiquewhite; border-radius: 1.5rem;" data-aos="zoom-in">
    <div class="px-3" style="text-align: center;">
        <h3 class="py-4" data-aos="zoom-in" data-aos-duration="1700">PHOTO GALLERY</h3>
        <div class="flip mx-3" data-aos="fade-right" data-aos-duration="2000">
            <div class="front"
                style="background-image: url(https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
                <h1 class="text-shadow">Sports</h1>
            </div>
            <div class="back">
                <h2>Angular</h2>
                <p>Good tools make application development quicker and easier to maintain than if you did everything by
                    hand..
                </p>
            </div>
        </div>
        <div class="flip flip-vertical mx-3" data-aos="zoom-in">
            <div class="front"
                style="background-image: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
                <h1 class="text-shadow">International</h1>
            </div>
            <div class="back">
                <h2>Angular</h2>
                <p>Good tools make application development quicker and easier to maintain than if you did everything by
                    hand..
                </p>
            </div>
        </div>
        <div class="flip mx-3" data-aos="fade-left" data-aos-duration="2000">
            <div class="front"
                style="background-image: url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
                <h1 class="text-shadow">Bollywood</h1>
            </div>
            <div class="back">
                <h2>Angular</h2>
                <p>Good tools make application development quicker and easier to maintain than if you did everything by
                    hand..
                </p>
            </div>
        </div>


        <div class="flip flip-vertical mx-3" data-aos="fade-right" data-aos-duration="2000">
            <div class="front"
                style="background-image: url(https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
                <h1 class="text-shadow">Politics</h1>
            </div>
            <div class="back">
                <h2>Angular</h2>
                <p>Good tools make application development quicker and easier to maintain than if you did everything by
                    hand..
                </p>
            </div>
        </div>
        <div class="flip mx-3" data-aos="zoom-in">
            <div class="front"
                style="background-image: url(https://images.pexels.com/photos/34950/pexels-photo.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
                <h1 class="text-shadow">National</h1>
            </div>
            <div class="back">
                <h2>Angular</h2>
                <p>Good tools make application development quicker and easier to maintain than if you did everything by
                    hand..
                </p>
            </div>
        </div>
        <div class="flip flip-vertical mx-3" data-aos="fade-left" data-aos-duration="2000">
            <div class="front"
                style="background-image: url(https://images.pexels.com/photos/34546/sunset-lake-landscape-summer.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
                <h1 class="text-shadow">Fashion</h1>
            </div>
            <div class="back">
                <h2>Angular</h2>
                <p>Good tools make application development quicker and easier to maintain than if you did everything by
                    hand..
                </p>
            </div>
        </div>
    </div>

    <br><br>
</div>